*.elc
*~

/auto-save-list/
/backup/
/bookmarks
/eln-cache/
/history
/projects
/transient/
/places
/eshell/
/multisession/
/recentf
/tree-sitter/
/racket-mode/
/elpa/archives/
*.signed
/elpa/gnupg/
/url/
/auto-save/
/tramp
*.so
